
$mainFont: "Commissioner", sans-serif;


@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin button-gen {
    background-color: #3CB3AB;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;

    border: none;
    border-radius: 33px; 
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background-color: #147A73;
    }
}

@mixin section-gen {
    width: calc(100% - 48px);
    margin: auto;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    box-sizing: border-box;
}

@mixin section-article {
    margin-top: 35px;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}


body {
    background-color: #FAFAFA;
    font-family: $mainFont;
    position: relative;
    // height: 100vh;
}

p {
    font-size: 14px;
    font-weight: 400;
    color: #7A7A7A;
    line-height: 24px;
}

.header {
    width: 100%;
    height: 300px;
    background-image: url(./images/image-hero-mobile.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    z-index: 1;

    .header-background {
        width: 100%;
        height: 130px;
        background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
        opacity: 0.6;

        position: absolute;
        z-index: 0;
    }

    .navigation {
        width: 100%;
        @include flex-row();
        justify-content: space-between;
        position: absolute;
        z-index: 1;
        
        padding: 32px 24px 0px 24px;
        box-sizing: border-box;

        .navigation--ul {
            position: fixed;
            z-index: 3;
            width: calc(100% - 48px);
            background-color: #FFF;
            left: 24px;
            top: 88px;
            border-radius: 8px;
    
            transform: translateX((calc(100% + 24px)));

            li {
                padding: 24px;
                box-sizing: border-box;
                border-bottom: 1px solid rgba(47, 47, 47, 0.2);

                &:last-child {
                    border: none;
                }

                a {
                    font-size: 18px;
                    font-weight: 500;
                    color: #000000;
                }
            }

        }
        
        button {
            padding: 0;
            background: none;
            border: none;
        }
    }

    .opened-menu--background {
        width: 100%;
        height: 200vh;
        background-color: #000000;
        position: fixed;
        z-index: -1;
        opacity: 0.4;
        left: 0;
    }

    .absolute-div--header {
        position: absolute;
        @include section-gen();
        left: 24px;
        bottom: -80%;

        article {
            position: relative;
            text-align: center;
            padding: 52px 24px 40px 24px;
            box-sizing: border-box;

            .logo-mastercraft {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            h1 {
                font-size: 20px;
                font-weight: 700;
                color: #000000;

                span {
                    display: block;
                    margin-top: 5px;
                }
            }

            p {
                margin-top: 16px;
            }

            .btn-bookmark {
                @include flex-row();
                justify-content: space-between;
                margin-top: 24px;

                button {
                    @include button-gen();
                    min-width: 214px;
                    height: 56px;
                }
            }

            .bookmark-span {
                display: none;
            }

        }

    }

}

.section--1 {
    @include flex-column();
    @include section-gen();
    gap: 25px;

    margin: auto;
    margin-top: 300px;
    padding: 33px 24px 40px 24px;
    box-sizing: border-box;

    div {
        @include flex-column();

        strong {
            font-size: 32px;
            font-weight: 700;
            color: #000000;
            margin-bottom: 9px;
        }

        span {
            font-size: 14px;
            color: #7A7A7A;
            font-weight: 400;
        }

        .underline {
            margin-top: 24px;
            width: 80px;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.15);
        }
    }


    .days-left--diagram {
        width: 100%;
        height: 12px;
        border-radius: 33px;
        background-color: rgba(47, 47, 47, 0.1);
        position: relative;

        div {
          width: 80%;
          height: 100%;
          position: absolute;
          background-color: #3CB3AB;  
          border-radius: 33px;

          left: 0;
        }
    }


}


.main-section {
    @include section-gen();
    margin-top: 24px;
    padding: 40px 24px;
    text-align: left;

    h2 {
        font-size: 18px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 24px;
    }

    article {
        @include section-article();
        
        h3 {
            font-size: 14px;
            font-weight: 700;
            color: #000000;
            margin-bottom: 8px;
        }

        .section-title--span {
            font-size: 14px;
            font-weight: 500;
            color: #3CB3AB;
        }

        p {
            margin-top: 24px;
        }

        .article-footer {
            margin-top: 25px;
            @include flex-column();
            align-items: start;
            gap: 25px;

            strong {
                font-size: 32px;
                font-weight: 700;
                color: #000000;
                position: relative;
            }

            strong:after {
                content: "Left";
                font-size: 15px;
                font-weight: 400;
                color: #7A7A7A;
                position: absolute;
                top: 50%;
                right: -40px;
                transform: translateY(-50%);
            }

            button {
                @include button-gen(); 
                width: 157px;
                height: 48px;
            }

        }

        
    }

}


.reward-section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: 121px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: left;

    .reward-options {
        width: calc(100% - 48px);
        margin: auto;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        background-color: #FFF;
        padding: 32px 24px;
        box-sizing: border-box;

        .section-title {
            @include flex-row();
            justify-content: space-between;
            margin-bottom: 24px;

            h2 {
                font-size: 18px;
                font-weight: 700;
                color: #000000;
            }

            button {
                padding: 0;
                background: none;
                border: none;
                cursor: pointer;
            }
        }

        article {
            margin-top: 24px;
            padding: 24px;
            box-sizing: border-box;
            border-radius: 8px;
            border: 1px solid rgba(0, 0, 0, 0.15);

            .continue-btn {
                @include button-gen();
                width: 107px;
                height: 48px;
            }
 


            .rewards-input--div {
                position: relative;
                height: fit-content;
                
                .reward-input {
                    margin: 0;
                    position: absolute;
                    opacity: 0;
                    z-index: -1;
                }

                .inp-label::after {
                    content: "";
                    display: block;
                    width: 24px;
                    height: 24px;   
                    border-radius: 50%;
                    border: 1px solid rgba(0, 0, 0, 0.2);

                }

                .inp-label::before {
                    content: "";
                    display: block;
                    width: 14px;
                    height: 14px;
                    background-color: #3CB3AB;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                .inStock-inp + .inp-label::before {
                    display: none;
                }

                .inStock-inp:checked + .inp-label::before {
                    display: block;
                }

                .outOfStock-inp + .inp-label::before {
                    display: none;
                }
            }

            .reward-article--header {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-bottom: 24px;

                .reward-article--title {
                    @include flex-column();
                    align-items: start;
                    gap: 8px;
                                    
                    h3 {
                        font-size: 14px;
                        font-weight: 700;
                        color: #000;
                        transition: all 0.2s;
                        cursor: pointer;

                        &:hover {
                            color: #3CB3AB;
                        }
                    }

                    span {
                        font-size: 14px;
                        font-weight: 500;
                        color: #3CB3AB;
                    }
                }
            }

            strong {
                font-size: 18px;
                font-weight: 700;
                color: #000;
                margin-top: 24px;
                display: block;
            }

            strong:after {
                content: "left";
                font-size: 15px;
                font-weight: 400;
                color: #7A7A7A;
                margin-left: 8px;
            }

            .Enter-your-pledge {
                margin-top: 24px;
                @include flex-column();
                gap: 16px;
                padding: 24px;
                padding-bottom: 0;
                box-sizing: border-box;
                position: relative;

                .border-line {
                    width: calc(100% + 48px);
                    height: 1px;
                    background-color: rgba(0, 0, 0, 0.15);
                    position: absolute;
                    top: 0;
                }

                span {
                    font-size: 14px;
                    font-weight: 400;
                    color: #7A7A7A;
                }

                .continue-div {
                    @include flex-row();
                    gap: 16px;

                    input{ 
                        width: 100px;
                        height: 48px;
                        border: 1px solid rgba(0, 0, 0, 0.15);
                        border-radius: 33px;
                        display: flex;
                        padding-left: 41px;
                        box-sizing: border-box;
                        outline: none;
                        position: relative;

                        font-size: 14px;
                        font-weight: 700;
                        color: #000;
                    }
                    
                    .input-div {

                        position: relative;

                        &::before {
                            content: "$";
                            position: absolute;
                            z-index: 1;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 24px;
                            font-size: 14px;
                            font-weight: 700;
                            color: rgba(0, 0, 0, 0.15);
                        }
                    }

                    button {
                        @include button-gen();
                        width: 115px;
                        height: 48px;
                    }

                    
                }
            }


        }


    }
}


.section--thanks-for {
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 143px 24px 0px 24px;
    box-sizing: border-box;

    article {
        width: 100%;
        height: fit-content;
        background-color: #FFF;
        text-align: center;
        border-radius: 8px;
        padding: 32px 24px 40px 24px;
        box-sizing: border-box;

        h3 {
            font-size: 18px;
            font-weight: 700;
            color: #000;
            margin-top: 24px;
            margin-bottom: 24px;
        }

        p {
            margin-bottom: 31px;
        }

        button {
            @include button-gen();
            width: 107px;
            height: 48px;
        }
        
    }
}








.open-navigation {
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.close-navigation {
    animation-name: moveInRight;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}




@keyframes moveInLeft {
    from {
        transform: translateX((calc(100% + 24px)));
    } to {
        transform: translateX(0px);
    }
}


@keyframes moveInRight {
    from {
        transform: translateX(0px);
    } to {
        transform: translateX((calc(100% + 24px)));
    }
}

.active-border {
    border: 2px solid #3CB3AB !important;
}


.out-of-stock {
    opacity: 0.5;

    button {
        background-color: #7A7A7A !important;
    }
}

.display-none {
    display: none !important;
}



@media only screen and (min-width: 768px) {

    p {
        font-size: 16px;
    }

    .header {
    
        .navigation {            
            padding: 32px 24px 0px 24px;
            box-sizing: border-box;
    
            .navigation--ul {
                position: static;
                background: none;        
                transform: translateX(0);
                @include flex-row(); 
                gap: 32px;               
                width: fit-content;


                li {
                    padding: 0;
                    border: none;
    
                    &:last-child {
                        border: none;
                    }
    
                    a {
                        font-size: 13px;
                        font-weight: 500;
                        color: #FFF;
                    }
                }
    
            }

            .close-open--btn {
                display: none;
            }
        }

        .absolute-div--header {
            left: 24px;
            bottom: -60%;
    
            article {
    
                h1 {
                    font-size: 28px;
    
                    span {
                        display: inline;
                    }
                }
    
                p {
                    margin-top: 16px;
                }
    
                .btn-bookmark {
                    @include flex-row();
                    justify-content: space-between;
                    margin-top: 24px;
    
                    button {
                        @include button-gen();
                        min-width: 214px;
                        height: 56px;
                    }
                }
    
                .bookmark {

                    position: relative;
                    cursor: pointer;

                    img {
                        position: absolute;
                        left: 0;
                        height: 100%;
                    }

                    .bookmark-span {
                        display: block;
                        width: 174px;
                        padding: 18px 0px;
                        padding-left: 72px;
                        padding-right: 24px;
                        box-sizing: border-box;
                        background-color: rgba(47, 47, 47, 0.1);
                        color: #7A7A7A;
                        border-radius: 33px;
                        font-size: 16px;
                        font-weight: 700;
                    }
                }
    
            }
    
        }
    
    }

    .section--1 {
        gap: 25px;
    
        margin: auto;
        margin-top: 200px;

        .results-in-numbers {
            @include flex-row();
            width: 100%;

            .xxx {
                @include flex-column();
                position: relative;
                padding-left: 47px;
                padding-right: 94px;
                box-sizing: border-box;
                height: 100%;

                &:first-child {
                    .underline {
                        display: none;
                    }
                }



                &:first-child {
                    padding: 0;
                    padding-right: 47px;
                }
        
                .underline {

                    &:first-child {
                        display: none !important;
                    }

                    margin-top: 0px;
                    width: 1px;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.15);
                    left: 0;
                    position: absolute;    
                    top: 0;
                }
            }
        }    
    
    }

    .main-section {
    
        article {
            @include section-article();
            
            .article-title {
                @include flex-row();
                align-items: center;
                justify-content: space-between;

                h3 {
                    margin-bottom: 0px;
                }
            }
    
            .article-footer {
                margin-top: 25px;
                @include flex-row();
                justify-content: space-between;
                align-items: center;    
            }
    
            
        }
    
    }

    .reward-section {
    
        .reward-options {

            article {

                position: relative;
                padding: 32px;
    
    
                .rewards-input--div {
                    position: relative;
                    height: fit-content;
                }
    
                strong {
                    top: 32px;
                    right: 28px;                    
                    margin-top: 0px;
                    position: absolute;
                }
    
                .Enter-your-pledge {
                    margin-top: 32px;
                    @include flex-row();
                    justify-content: space-between;
                    padding: 0px;
                    padding-top: 24px;
    
                }    

                .border-line {
                    width: 100% !important;
                }
    
            }    
    
        }
    }

    .section--thanks-for {    
        article {
            width: 540px;
            margin: auto;            
        }
    }
    
    
}

@media only screen and (min-width: 1024px) {

    @mixin section-gen {
        max-width: 730px;
    }

    .header {
        height: 400px;
        background-image: url(./images/image-hero-desktop.jpg);
    
        .navigation {
            max-width: 1110px;
            z-index: 1;
            left: 50%;
            transform: translateX(-50%);            
            padding: 48px 24px 0px 24px;

        }
        
        .absolute-div--header {
            position: absolute;
            @include section-gen();
            left: 50%;
            transform: translateX(-50%);
            bottom: -37%;    
        }
    
    }

    .section--1 {
        @include section-gen();       
    
    }

    .main-section {
        @include section-gen();    
    }

    .reward-section {    
        .reward-options {
            @include section-gen();   
    
        }
    }

}